/*
--------------------------------------------------------------------------------
Playfair Display, serif
regular: 400
bold: 700
black: 900
--------------------------------------------------------------------------------
*/
@import 'https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,700i,900,900i';
