/*
--------------------------------------------------------------------------------
Open Sans, sans-serif
light: 300
semi-bold: 600
extra-bold: 800
--------------------------------------------------------------------------------
*/
@import 'https://fonts.googleapis.com/css?family=Open+Sans:300,600,800';
