/*
--------------------------------------------------------------------------------
Colors
--------------------------------------------------------------------------------
*/


/*
--------------------------------------------------------------------------------
Text and alignments
--------------------------------------------------------------------------------
*/
.no-select   { @include no_select(); }

.truncate    { text-overflow: ellipsis; overflow: hidden; white-space: nowrap; }

.relative    { position: relative; }
.visible     { overflow: visible; }

.block       { display: block; }
.ib          { display: inline-block; }
.hide        { display: none !important; }
.fw          { width: 100%; }
.fh          { height: 100%; }
.w-25        { width: 25%; }
.w-40        { width: 40%; }
.w-50        { width: 50%; }
.w-60        { width: 60%; }
.left        { float: left; }
.right       { float: right; }
.center      { margin: auto; float: none; }
.img-center  { margin-left: 50%; transform: translateX(-50%); }
.clear:after { content: ''; clear: both; display: block; }
.t-center    { text-align: center; }
.t-left      { text-align: left; }
.t-right     { text-align: right; }
.t-justify   { text-align: justify; }
.upper       { text-transform: uppercase; }
.cammel      { text-transform: capitalize; }
.no-upper    { text-transform: none; }
.lower       { text-transform: lowercase; }
.t-shadow    { text-shadow: 0 1px 1px rgba($black, .1); }

.lh-150      { line-height: 150%; }

.va-m        { vertical-align: middle; }

/*
--------------------------------------------------------------------------------
Draggable elements
--------------------------------------------------------------------------------
*/
.drag {
  cursor: move;
  cursor: grab;

  &:active {
    cursor: grabbing;
  }
}



/*
--------------------------------------------------------------------------------
Margins
--------------------------------------------------------------------------------
*/
.mt-0   { margin-top:    0; }
.mt-5   { margin-top:    5px; }
.mt-10  { margin-top:    10px; }
.mt-15  { margin-top:    15px; }
.mt-20  { margin-top:    20px; }
.mt-30  { margin-top:    30px; }
.mt-35  { margin-top:    35px; }
.mt-40  { margin-top:    40px; }
.mt-50  { margin-top:    50px; }
.mt-75  { margin-top:    75px; }
.mt-100 { margin-top:    100px; }
.mt-120 { margin-top:    120px; }
.mt-150 { margin-top:    150px; }
.mt-200 { margin-top:    200px; }
.mt-250 { margin-top:    250px; }
.mr-5   { margin-right:  5px; }
.mr-10  { margin-right:  10px; }
.mr-15  { margin-right:  15px; }
.mr-20  { margin-right:  20px; }
.mr-30  { margin-right:  30px; }
.mr-40  { margin-right:  40px; }
.mr-50  { margin-right:  50px; }
.mr-75  { margin-right:  75px; }
.mr-100 { margin-right:  100px; }
.mr-120 { margin-right:  120px; }
.mr-150 { margin-right:  150px; }
.mr-200 { margin-right:  200px; }
.mr-250 { margin-right:  250px; }
.mb--20 { margin-bottom: -20px; }
.mb-5   { margin-bottom: 5px; }
.mb-10  { margin-bottom: 10px; }
.mb-15  { margin-bottom: 15px; }
.mb-20  { margin-bottom: 20px; }
.mb-30  { margin-bottom: 30px; }
.mb-40  { margin-bottom: 40px; }
.mb-50  { margin-bottom: 50px; }
.mb-75  { margin-bottom: 75px; }
.mb-100 { margin-bottom: 100px; }
.mb-120 { margin-bottom: 120px; }
.mb-150 { margin-bottom: 150px; }
.mb-200 { margin-bottom: 200px; }
.mb-250 { margin-bottom: 250px; }
.ml-0   { margin-left:   0px; }
.ml-5   { margin-left:   5px; }
.ml-10  { margin-left:   10px; }
.ml-15  { margin-left:   15px; }
.ml-20  { margin-left:   20px; }
.ml-30  { margin-left:   30px; }
.ml-40  { margin-left:   40px; }
.ml-50  { margin-left:   50px; }
.ml-75  { margin-left:   75px; }
.ml-100 { margin-left:   100px; }
.ml-120 { margin-left:   120px; }
.ml-150 { margin-left:   150px; }
.ml-200 { margin-left:   200px; }
.ml-250 { margin-left:   250px; }



/*
--------------------------------------------------------------------------------
Opacity
--------------------------------------------------------------------------------
*/
.o-10 { opacity: .1; }
.o-20 { opacity: .2; }
.o-30 { opacity: .3; }
.o-40 { opacity: .4; }
.o-50 { opacity: .5; }
.o-60 { opacity: .6; }
.o-70 { opacity: .7; }
.o-80 { opacity: .8; }
.o-90 { opacity: .9; }
