/*
--------------------------------------------------------------------------------
COLORS - alphabetical order
--------------------------------------------------------------------------------
*/
$black: #000000;
$blue:  #1234ff;
$dark:  #57576d;
$light: #eaebec;
$red:   #e15555;
$white: #ffffff;
