/*
--------------------------------------------------------------------------------
IMAGES
--------------------------------------------------------------------------------
*/
$bg_list: fog "../images/bg_fog",
          lake "../images/bg_lake",
          class "../images/bg_class";


/*
--------------------------------------------------------------------------------
VARIABLES
--------------------------------------------------------------------------------
*/
$radius: .4rem;

$size_xs: .5rem;
$size_s: 1rem;
$size_m: 2rem;
$size_l: 5rem;
$size_xl: 10rem;
