/*
--------------------------------------------------------------------------------
IMAGES
--------------------------------------------------------------------------------
*/
$bg_list: fog "../images/bg_fog",
          lake "../images/bg_lake",
          class "../images/bg_class";


/*
--------------------------------------------------------------------------------
VARIABLES
--------------------------------------------------------------------------------
*/
$radius: .4rem;

$spacing-xs: .5rem;
$spacing-s: 1rem;
$spacing-m: 2rem;
$spacing-l: 5rem;
$spacing-xl: 10rem;
