.flex {
  display: flex;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-sb {
  display: flex;
  justify-content: space-between;
}

.flex-vam {
  display: flex;
  align-items: center;
}
